nav.navbar-default.navbar-side(role='navigation')
  #sideNav(href='')
    i.fa.fa-caret-right
  .sidebar-collapse
    ul#main-menu.nav
      li
        a.active-menu(href='/dashboard')
          i.fa.fa-dashboard
          |  Dashboard
      li
        a.active-menu(href='/myZones')
          i.fa.fa-eye
          |  Mis zonas
      li
        a.active-menu(href='/otherZones')
          i.fa.fa-arrows-alt
          |  Otras zonas
      li
        a.active-menu(href='/contact')
          i.fa.fa-users
          |  Contacto
          
      
          
