
.col-md-12
  .panel.panel-default
    .panel-heading
      | Contaminantes
    .panel-body
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 O3
            #easypiechart-blue.easypiechart(data-percent='82')
              span.percent 151
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 PM25
            #easypiechart-orange.easypiechart(data-percent='55')
              span.percent 53
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 O3
            #easypiechart-teal.easypiechart(data-percent='84')
              span.percent 87
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 CO
            #easypiechart-red.easypiechart(data-percent='46')
              span.percent 50
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 SO2
            #easypiechart-green.easypiechart(data-percent='84')
              span.percent 89
      .col-xs-2.col-md-2
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 NO2
            #easypiechart-purple.easypiechart(data-percent='84')
              span.percent 102
