#page-wrapper
  .header
    h1.page-header
      | Contacto
      small    AirQ, una empresa transparente ¿Deseas conocernos?
    ol.breadcrumb
      li
        a(href='#') Dashboard
      li
        a(href='#') Contacto
  #page-inner
    p(style='text-align: center;')
      img(class="img-thumbnail", src='img/Integrantes.PNG', alt='', width='584', height='313')
    p(style='text-align: center;')
      em
        span(style='font-size: x-large;') "Where air meets quality"
    p(style='text-align: center;')
      a(href='https://www.dropbox.com/s/1uero29b83pn190/Discurso%20de%20los%20h%C3%A9roes.mp4?dl=0')
        span(style='font-size: medium;')
          em Spot comercial
    h4 ¿Quiénes somos?
    .ace-line
      span.author-g-hmqjccyu490wn6bl
        | El equipo de AirQ está integrado por cuatro jóvenes emprendedores graduados en Ingeniería Informática y que actualmente cursamos el
      span.author-g-hmqjccyu490wn6bl.i
        em Máster Universitario en Ingeniería Informática
      span.author-g-hmqjccyu490wn6bl  impartido en la 
      span.author-g-hmqjccyu490wn6bl.i
        em Universidad de Castilla-La Mancha
      span.author-g-hmqjccyu490wn6bl .
    .ace-line
      span.author-g-hmqjccyu490wn6bl
        | Todos nosotros tenemos un gran interés en las nuevas tecnologías, somos conscientes de los problemas medioambientales que nos afectan y consideramos que la conservación del medio ambiente es una responsabilidad de todos.
    .ace-line  
    h4 Misión
    .ace-line
      span.author-g-w2b8dcz122zr2qxhrxc3
        | AirQ surgió con la intención de controlar el problema de la contaminación del aire y ayudar a otras entidades a mitigar sus efectos sobre la salud de las personas.
      span.author-g-w2b8dcz122zr2qxhrxc3 En concreto, ofrecemos servicios orientados a la 
      span.author-g-hmqjccyu490wn6bl.b
        strong monitorización 
      span.author-g-w2b8dcz122zr2qxhrxc3.b
        strong de la calidad del aire 
      span.author-g-w2b8dcz122zr2qxhrxc3 en el entorno. 
    .ace-line
      span.author-g-w2b8dcz122zr2qxhrxc3 Actualmente, estamos en proceso de implementar nuevos servicios basados en 
      span.author-g-w2b8dcz122zr2qxhrxc3.b
        strong tecnologías Cloud
      span.author-g-w2b8dcz122zr2qxhrxc3
        | que faciliten el conocimiento del entorno a nuestros clientes. Para ello, estamos desarrollando sistemas inteligentes con el fin de procesar y
      span.author-g-w2b8dcz122zr2qxhrxc3.b
        strong  crear valor
      span.author-g-w2b8dcz122zr2qxhrxc3  a partir de los datos que obtenemos a través de nuestros sensores.
    .ace-line
      span.author-g-hmqjccyu490wn6bl
        | Mediante nuestros servicios pretendemos ofrecer una solución inteligente tanto a ayuntamientos y gobiernos regionales, como a entidades privadas que estén preocupadas por la calidad del aire de su entorno.
    h4
      span.author-g-w2b8dcz122zr2qxhrxc3 Visión
    .ace-line
      span.author-g-hmqjccyu490wn6bl Nuestra principal meta para los próximos 2 años es 
      span.author-g-1qqz122zhnojlvgkrsok la ampliación del 
      span.author-g-hmqjccyu490wn6bl rango
      span.author-g-1qqz122zhnojlvgkrsok  de zonas 
      span.author-g-hmqjccyu490wn6bl disponibles
      span.author-g-1qqz122zhnojlvgkrsok  con el fin de 
      span.author-g-k4c0kr5v5a12dtjf incrementar 
      span.author-g-hmqjccyu490wn6bl nuestra
      span.author-g-1qqz122zhnojlvgkrsok  cartera de clientes,
      span.author-g-hmqjccyu490wn6bl
        br
    .ace-line
      span.author-g-hmqjccyu490wn6bl así como, llegar a particulares a través de aplicaciones móviles 
      span.author-g-k4c0kr5v5a12dtjf de Healthcare.
      span.author-g-hmqjccyu490wn6bl
        br
    .ace-line
      span.author-g-1qqz122zhnojlvgkrsok Ac
      span.author-g-hmqjccyu490wn6bl tualmente nuestras operaciones se limitan al territorio nacional
      span.author-g-1qqz122zhnojlvgkrsok , aunque 
      span.author-g-hmqjccyu490wn6bl se prevee una expansión a 
      span.author-g-k4c0kr5v5a12dtjf
        | territorio internacional. En concreto, se baraja el crecimiento en países vecinos por cuestiones de proximidad, y en países de América Latina por la ventaja de poder ofrecer nuestros servicios
      span.author-g-hmqjccyu490wn6bl en español
      span.author-g-k4c0kr5v5a12dtjf , lo cual nos daría facilidad de encontrar contactos y colaboradores.
    h4
      span.author-g-w2b8dcz122zr2qxhrxc3 Servicios ofertados
    ul
      li.ace-line
        span.author-g-hmqjccyu490wn6bl S1: Diagnóstico y alertass de contaminantes en tiempo real (AirQ Dashboard).
      li.ace-line
        span.author-g-hmqjccyu490wn6bl S2: Pronóstico y alertas de niveles de contaminación para 24h (AirQ Dashboard, sólo usuarios premium).
      li.ace-line
        span.author-g-hmqjccyu490wn6bl S3: Despliegue de sensores en zonas personalizadas.
      li.ace-line
        span.author-g-hmqjccyu490wn6bl S4: Suscripción a canales de datos por zonas.
      li.ace-line
        span.author-g-hmqjccyu490wn6bl S5: Histórico de datos por zonas
    h4
      span.author-g-w2b8dcz122zr2qxhrxc3 Documentos:
    ul
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          a(href='https://www.dropbox.com/s/tlydjgpw2n7ywi9/Plan%20de%20Empresa%20AirQ.pdf?dl=0') Plan de Empresa
          |  (Primer cuatrimestre)
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          a(href='https://www.dropbox.com/s/aggeumasrhyi0og/AirQ%20Presentaci%C3%B3n.pptx?dl=0') Presentación del Plan de Empresa
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          a(href='https://github.com/airqinc/airq-app') Cuenta de GitHub
      
    h4
      span.author-g-w2b8dcz122zr2qxhrxc3 Contacto:
    ul
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          |  Correo electrónico: 
          a(href='airqinc@mail.es') airqinc@mail.es
          
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          | Teléfono: 967667892
      li
        span.author-g-w2b8dcz122zr2qxhrxc3
          | Acércate a nuestras oficinas: Parque tecnológico de Albacete S/N
          p
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12406.656141531943!2d-1.8548020443969726!3d38.97733877416322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c0fb7ab16579584!2sUniversidad+de+Castilla-La+Mancha+Campus+de+Albacete!5e0!3m2!1ses!2ses!4v1495147448518', width='100%', height='350', frameborder='20', style='border:20px', allowfullscreen='')

    footer
      p
        | All right reserved. Template by: 
        a(href='http://webthemez.com') WebThemez
  // /. PAGE INNER
