link(rel='stylesheet', href='assets/css/bootstrap.css')
link(rel='stylesheet', href='assets/css/font-awesome.css')
link(rel='stylesheet', href='assets/js/morris/morris-0.4.3.min.css')
link(rel='stylesheet', href='assets/css/custom-styles.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
link(rel='stylesheet', href='assets/js/Lightweight-Chart/cssCharts.css')
title="Hello Pug"
