#page-wrapper
  .header
    h1.page-header
      | Otras zonas  
    ol.breadcrumb
      li
        a(href='#') Dashboard
      li
        a(href='#') Otras zonas
  #page-inner
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Albacete
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: green')
                  h3.current-aqi 21
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 2
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Bilbao
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: red')
                  h3.current-aqi(style='font-size: 40px') 155
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 15:00
                  p Estaciones: 6
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Valencia
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: yellow')
                  h3.current-aqi 57
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 4
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
    p              
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Madrid sur
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: orange')
                  h3.current-aqi(style='font-size: 40px')  120
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 3
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Puertollano
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: red')
                  h3.current-aqi(style='font-size: 40px')  162
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 3
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            |Murcia
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: yellow')
                  h3.current-aqi 76
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 15:00
                  p Estaciones: 4
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
    p
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Toledo
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: green')
                  h3.current-aqi 33
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 15:00
                  p Estaciones: 2
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Albacete campollano
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: yellow')
                  h3.current-aqi 69
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 2
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Sevilla
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: green')
                  h3.current-aqi 17
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 15:00
                  p Estaciones: 7
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
    p
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Cofrentes
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: #7e0023')
                  h3.current-aqi(style='font-size: 40px') 301
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 15:00
                  p Estaciones: 1
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
      .col-md-4
        .panel.panel-default
          .panel-heading
            | Springfield
          .panel-body.current_status
            .panel
              .row
                .panel-left.col-md-3(style='background-color: #7e0023')
                  h3.current-aqi(style='font-size: 40px') 459
                .panel.col-md-7 
                  p
                  p Última actualización:
                  p Viernes 16:00
                  p Estaciones: 2
                  p 
              .row
                .col-md-12
                  a.btn.btn-primary.btn-block(type='button',href='#') ver zona
    

      style.
        .panel.col-md-7{
          align-items: center;
        }
        .panel {
          margin-bottom: 0px;          
        }
        





    footer
      p
        | All right reserved. Template by: 
        a(href='http://webthemez.com') WebThemez
