#page-wrapper
  .header
    h1.page-header
      | Dashboard 
      small Summary of your App
    ol.breadcrumb
      li
        a(href='#') Home
      li
        a(href='#') Library
      li.active Data
  #page-inner
    .row
      include charts/line.pug
      include charts/map.pug
    .row
      .col-xs-6.col-md-3
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 Customers
            #easypiechart-blue.easypiechart(data-percent='82')
              span.percent 82%
      .col-xs-6.col-md-3
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 Sales
            #easypiechart-orange.easypiechart(data-percent='55')
              span.percent 55%
      .col-xs-6.col-md-3
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 Profits
            #easypiechart-teal.easypiechart(data-percent='84')
              span.percent 84%
      .col-xs-6.col-md-3
        .panel.panel-default
          .panel-body.easypiechart-panel
            h4 No. of Visits
            #easypiechart-red.easypiechart(data-percent='46')
              span.percent 46%
    // /. ROW
    
    footer
      p
        | All right reserved. Template by: 
        a(href='http://webthemez.com') WebThemez
  // /. PAGE INNER
