#page-wrapper
  .header
    h1.page-header
      | Madrid centro 
      small resumen de la zona
    ol.breadcrumb
      li
        a(href='#') Home
      li
        a(href='#') Mis zonas
      li
        a(href='#') Madrid centro
  #page-inner
    .row
      .col-md-7
        .panel.panel-default
          .panel-heading
            | Estado actual
          .panel-body
      include charts/map.pug
    .row
      include charts/pollutants.pug
    .row
      include charts/lineChartDiagnostic.pug
    .row
      include charts/lineChartForecast.pug                 
    // /. ROW
    
    footer
      p
        | All right reserved. Template by: 
        a(href='http://webthemez.com') WebThemez
  // /. PAGE INNER
