footer
  p
    | All right reserved. Template by: 
    a(href='http://webthemez.com') WebThemez
script(src='assets/js/jquery-1.10.2.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/jquery.metisMenu.js')
script(src='assets/js/morris/raphael-2.1.0.min.js')
script(src='assets/js/morris/morris.js')
script(src='assets/js/easypiechart.js')
script(src='assets/js/easypiechart-data.js')
script(src='assets/js/Lightweight-Chart/jquery.chart.js')
script(src='assets/js/custom-scripts.js')
