nav.navbar-default.navbar-side(role='navigation')
  #sideNav(href='')
    i.fa.fa-caret-right
  .sidebar-collapse
    ul#main-menu.nav
      li
        a.active-menu(href='/dashboard')
          i.fa.fa-dashboard
          |  Dashboard
      li
        a.active-menu(href='/')
          i.fa.fa-dashboard
          |  Mis zonas
      li
        a.active-menu(href='/')
          i.fa.fa-dashboard
          |  Nuevas zonas
      li
        a.active-menu(href='/')
          i.fa.fa-dashboard
          |  Contacto
          
      
          
