nav.navbar-default.navbar-side(role='navigation')
  #sideNav(href='')
    i.fa.fa-caret-right
  .sidebar-collapse
    ul#main-menu.nav
      li
        a.active-menu(href='index.html')
          i.fa.fa-dashboard
          |  Dashboard
      li
        a(href='ui-elements.html')
          i.fa.fa-desktop
          |  UI Elements
      li
        a(href='chart.html')
          i.fa.fa-bar-chart-o
          |  Charts
      li
        a(href='tab-panel.html')
          i.fa.fa-qrcode
          |  Tabs & Panels
      li
        a(href='table.html')
          i.fa.fa-table
          |  Responsive Tables
      li
        a(href='form.html')
          i.fa.fa-edit
          |  Forms
      li
        a(href='#')
          i.fa.fa-sitemap
          |  Multi-Level Dropdown
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') Second Level Link
          li
            a(href='#') Second Level Link
          li
            a(href='#')
              | Second Level Link
              span.fa.arrow
            ul.nav.nav-third-level
              li
                a(href='#') Third Level Link
              li
                a(href='#') Third Level Link
              li
                a(href='#') Third Level Link
      li
        a(href='empty.html')
          i.fa.fa-fw.fa-file
          |  Empty Page
