doctype html
html
  head
    meta(charset='UTF-8')
    title AirQ login
    //- script(src='http://s.codepen.io/assets/libs/modernizr.js', type='text/javascript')
    //- link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Nunito:400,300,700')
    link(rel='stylesheet', href='../assets/css/login.css')
  body
    .container
      .form-container.flip
        form.login-form(method='POST' action='')
          //- h2.alert.alert-danger#{message}
          //- div.alert.alert-danger #{message}
          h3.title Sign up. #{message}
          #username.form-group
            input#email.form-input(name='nickname', tooltip-class='username-tooltip', placeholder='Username', required='true', autofocus='true')
            span#username-tool.tooltip.username-tooltip ¿Cuál es tu usuario?
          #password.form-group
            input.form-input(name='password', type='password', tooltip-class='password-tooltip', placeholder='Password', required='true')
            span.tooltip.password-tooltip ¿Cuál es tu contraseña?
          .form-group
            input.login-button(type='submit', value='login')
            input.remember-checkbox(type='checkbox')
            p.remember-p Recuérdame
        .loading
          .loading-spinner-large(style='display: none;')
          .loading-spinner-small(style='display: none;')
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='../assets/js/jquery-1.10.2.js')
    script(src='../assets/js/login.js')
